{% if page.layout == "home-infographic" %}
<style>
#home-banner {
    background-image: url('{% if site.data.theme.home-banner-image-number %}{{ site.data.theme.cdm-url }}/digital/iiif/{{ site.data.theme.cdm-collection-id }}/{{ site.data.theme.home-banner-image-number }}/full/max/0/default.jpg{% else %}{{ site.data.theme.home-banner-image-link }}{% endif %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#home-title-box {
    padding-top: {{ site.data.theme.home-title-y-padding }};
    padding-bottom: {{ site.data.theme.home-title-y-padding }};
}
.title-card {
    border: 2px solid #191919;
    border-radius: .25rem;
    background-color: #ffffffd1;
}
</style>
<div id="home-banner" class="jumbotron jumbotron-fluid mb-0 p-0" aria-label="{{ site.data.theme.home-banner-image-title }}">
    <div class="container">
        <div class="row justify-content-center">
            <div id="home-title-box" class="col-md-10 ">
                <div class="text-dark title-card p-2 ">
                    <div class="row align-items-center justify-content-center text-center">
                        <div class="col-md-8 text-center">
                            <h1 class="display-4">{{ site.data.theme.title }}</h1>
                            <p>{{ site.data.theme.tagline }}</p>
                            <a title="University of Idaho Library Digital Initiatives" class="p-1 pb-3" href="https://www.lib.uidaho.edu/digital">
                            <img src="https://www.lib.uidaho.edu/digital/justdi_logo_sm.png" alt="digital initiatives logo" ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%- else -%}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div id="title" class="col-11" >
                    <h1><a href="{{ site.baseurl }}/" >{{ site.data.theme.title }}</a></h1>	 
                    <p>{{ site.data.theme.tagline }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <div class="mt-md-3 float-right">
                <a title="University of Idaho Library Digital Initiatives" class="btn btn-outline-light border-secondary" data-toggle="modal" data-target="#collections">
                <img class="img-fluid" src="https://www.lib.uidaho.edu/digital/justdi_logo_sm.png" alt="digital initiatives logo" ></a>
            </div>
        </div>
    </div>
</div>
{%- endif -%}